@import "tailwindcss";

:root
{--animate-slide-in: slide-in 300ms ease-out;
}
@keyframes slide-in {
        from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@utility container{
    @apply mx-auto px-4 sm:px-6 lg:px-8 ;
}

@layer components{
    .form-control {
    @apply px-3 py-2 rounded-md border border-gray-400/50 focus:outline-none focus:border-blue-500;
}
    .btn {
        @apply px-4 py-2 rounded-lg bg-gray-200 text-gray-900 font-semibold hover:bg-gray-300 transition-colors duration-100
    }

}

.swiper-pagination-bullet{
    width: 12px !important;
    height: 12px !important;
    background:rgba(255,255,255,0.5) !important;
    opacity: 1 !important;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet:hover{
    background:rgba(255,255,255,0.8) !important;
    transform: scale(1.1);
}

.swiper-pagination-bullet-active{
    background:rgba(255,255,255,1) !important;
    width: 32px !important;
    border-radius: 6px !important;
}